.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    background: #f0f2f5;
}

.first_col_div {
    display: flex;
    justify-content: space-between;
}

.sec_column {
    display: flex;
    justify-content: space-between;
}

.text_head {
    color: var(--Color-3, #6b7c85);
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    letter-spacing: -0.5px;
    flex-wrap: nowrap;
}

.first_div {
    display: flex;
    width: 177px;
    gap: 11px;
    align-items: center;
}

.sidebar_div {
    border-right: 1px solid #ccc;
}